<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="Extentions" value="dll;htm;html;master;aspx;ascx;asax;js;css;gif;jpg;png;ico"></add>
    <add key="ExceptByFolder" value="obj;bin"/>
  </appSettings>
</configuration>
